@font-face {
  font-family: 'Barlow';
  src: url("../fonts/Barlow-Regular.woff2") format("woff2"), url("../fonts/Barlow-Regular.woff") format("woff"), url("../fonts/Barlow-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow';
  src: url("../fonts/Barlow-Bold.woff2") format("woff2"), url("../fonts/Barlow-Bold.woff") format("woff"), url("../fonts/Barlow-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow';
  src: url("../fonts/Barlow-SemiBold.woff2") format("woff2"), url("../fonts/Barlow-SemiBold.woff") format("woff"), url("../fonts/Barlow-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fraunces';
  src: url("../fonts/Fraunces-Black.woff2") format("woff2"), url("../fonts/Fraunces-Black.woff") format("woff"), url("../fonts/Fraunces-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow';
  src: url("../fonts/Barlow-Medium.woff2") format("woff2"), url("../fonts/Barlow-Medium.woff") format("woff"), url("../fonts/Barlow-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 1.5;
  font-family: 'Fraunces', sans-serif;
  background: #fefcf7;
}

img {
  min-width: 100%;
  height: auto;
  vertical-align: middle;
}

.site-main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0px 20px;
}

.site-header {
  padding: 45px 0;
}

.site-header .site-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.site-header_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.site-header .site-header__logo:hover {
  opacity: 0.8;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.site-header__nav {
  white-space: nowrap;
}

.site-header__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-header__items + .site-header__items {
  margin-left: 33px;
}

.site-header__link {
  font-family: 'Barlow';
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888F;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.site-header__link:hover {
  color: #000;
}

.site-header__hamburger {
  display: none;
  width: 16px;
  height: 15px;
  background-image: url(../images/hamburger-icon.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
}

@media only screen and (max-width: 610px) {
  .site-header {
    position: relative;
  }
  .site-header__hamburger {
    display: inline-block;
  }
  .site-header__nav {
    display: none;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50.8%, #FEFCF7), to(rgba(254, 252, 247, 0.5)));
    background: linear-gradient(180deg, #FEFCF7 50.8% 1%, rgba(254, 252, 247, 0.5));
    -webkit-transform: matrix(1, 0, 0, 1, 1, 1);
            transform: matrix(1, 0, 0, 1, 1, 1);
  }
  .site-header__nav .site-header__items {
    margin-left: 0;
  }
  .header--open .site-header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding-bottom: 200px;
  }
  .header--open .site-header__items {
    margin-bottom: 32px;
  }
  .header--open .site-header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header--open .header__hamburger {
    background-image: url(../images/hamburger-mune-close.svg);
  }
  .header--open .site-header__link {
    text-transform: capitalize;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #333D4B;
  }
}

.hero__container {
  padding: 117px 86px 116px 86px;
  background-image: url(../../images/hero__backimage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.hero__heading {
  margin: 0;
  width: 100%;
  max-width: 493px;
  font-family: 'Fraunces';
  margin-bottom: 32px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FEFCF7;
}

.hero__desc {
  margin: 0;
  margin-bottom: 56px;
  width: 445px;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.hero__btn {
  border: none;
  padding: 0;
  background-color: transparent;
  padding: 15px 30px;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #FEFCF7;
  background: #0E8784;
  border-radius: 6px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-bottom: 100px;
}

.hero__btn:hover {
  background: #66D2CF;
}

.our-collection .our-collection__container {
  max-width: 1151px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.our-collection__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.our-collection__items + .our-collection__items {
  margin-left: 30px;
}

.our-collection__img {
  margin-left: 25px;
}

.our-collection__heading {
  margin: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #333D4B;
}

.our-collection__desc {
  margin: 0;
  max-width: 255px;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #333D4B;
}

@media only screen and (max-width: 768px) {
  .our-collection__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .our-collection__items {
    width: 573px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .our-collection__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-width: 282px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}
/*# sourceMappingURL=main.css.map */