.site-header{
    padding: 45px 0;

    .site-header__container {
        display: flex;
        align-items: center;
        justify-content: space-between;


    }
    &_logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-shrink: 0;

    }

    .site-header__logo:hover{
        opacity: 0.8;
        transition: 0.7s;

    }
    &__nav {

        white-space: nowrap;
    }
    &__list {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        align-items: center;
    }
    &__items + &__items {
        margin-left:33px ;
    }
    &__link {
        font-family: 'Barlow';
        text-decoration: none;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.923077px;
        text-transform: uppercase;
        color: #83888F;
        transition: 0.5s;


    }
    &__link:hover{
        color: #000;


    }
    &__hamburger{
        display: none;
        width: 16px;
        height: 15px;
        background-image: url(../images/hamburger-icon.svg);
        background-repeat: no-repeat;
        background-color: transparent;
        border: none;

    }

}



@media only screen and (max-width:610px){
    .site-header {
        position: relative;
        }

        .site-header__hamburger  {
            display: inline-block;
        }
        .site-header__nav {
            display: none;
            background: linear-gradient(180deg,  #FEFCF7 50.8% 1%, rgba(254, 252, 247, 0.5) );
            transform: matrix(1, 0, 0, 1, 1, 1);
            .site-header__items{
                margin-left: 0;
            }
        }
        .header--open .site-header__nav {
            display: flex;
            justify-content: center;
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            padding-bottom: 200px;



        }
        .header--open .site-header__items{
            margin-bottom: 32px;
        }

        .header--open .site-header__list {
            flex-direction: column;

        }
        .header--open .header__hamburger{
            background-image: url(../images/hamburger-mune-close.svg);
        }
        .header--open .site-header__link{
            text-transform:  capitalize;
            font-family: 'Fraunces';
            font-style: normal;
            font-weight: 900;
            font-size: 24px;
            line-height: 32px;
            text-align: center;
            color: #333D4B;




        }



}